{% extends 'base.html' %}

{% block title %}
    <title>Dash Board</title>
{% endblock %}

{% block body %}
    <section class="section m-auto">
        <div class="columns is-centered">
            <div class="column is-half">
                <nav class="panel is-dark">
                    <p class="panel-heading has-background-grey-dark">Dashboard</p>
                    <ul id="panel">
                        {% if user.is_staff %}
                            <li><a class="panel-block todo-item" href="{% url 'app:history' %}"><span class="mr-auto">All Applications</span></a></li>
                        {% else %}
                            <li><a class="panel-block todo-item" href="{% url 'app:apply' %}"><span class="mr-auto">Apply For Funds</span></a></li>
                        {% endif %}
                        <li><a class="panel-block todo-item" href="{% url 'app:view_pending' %}"><span class="mr-auto">View Pending Applications</span></a>
                        </li>
                        <li><a class="panel-block todo-item" href="{% url 'app:history' %}"><span class="mr-auto">View History</span></a>
                        </li>
                        <li><a class="panel-block todo-item" href="{% url 'app:view_approved' %}"><span class="mr-auto">Approved Funds</span></a>
                        </li>
                        {% if user.is_admin or user.is_staff %}
                            <li><a class="panel-block todo-item" href="{% url 'app:create_event' %}"><span
                                    class="mr-auto">Create Event</span></a></li>
                        {% endif %}
                    </ul>

                </nav>
            </div>
        </div>
    </section>
{% endblock %}